@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1711101502397') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenben:before {
  content: "\e620";
}

.icon-xiangzuoxuanzhuan:before {
  content: "\e66b";
}

.icon-juxing:before {
  content: "\e609";
}

.icon-button:before {
  content: "\e624";
}

